* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.10);
    color: darkslategray;
    line-height: 1.5;
}

header {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color:lightcoral;
    border-bottom: black solid 5px;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

h2, input, .highscore {
    font-size: 1.5rem;
    padding: 1rem;
    display: inline-block;
}

a, .timer{
    font-size: 3rem;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.colorchange {
    font-size: 3rem;
    text-decoration: none;
    list-style: none;
    animation-name: timer;
    animation-duration: 20s;
}

@keyframes timer {
    
from {color: darkslategray;}
to {color: red}

}


.btn {
    width: 20rem;
    padding: 0.75rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin-top: 1rem;
    background-color: rgba(82, 83, 83,1);
    background-image: linear-gradient(45deg, rgba(204, 219, 219, 0.5), rgba(164, 207, 207, 0.5));
    transition: all .3s ease-in-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.10);
    color: ivory;
}

.small {
    font-size: 1rem;
    text-align: left;
}

button:hover {
    background-color: lightskyblue;
}
.quiz {
    width: 18em;
    padding-top: 2em;
}

.result {
    margin-top: 1.5rem;
    border-top: rgba(47, 79, 79, 0.5) solid 2px;
    width: 18em;
    font-style: italic;
    letter-spacing: 0.1em;
    color: rgba(47, 79, 79, 0.5);
}


